<div id="footer">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy 2019 MFIS</p>
      <p>Somos parte de la <a href="https://www.exa.unrc.edu.ar/" target="_blank">Facultad de Ciencias Exactas, Físico-Químicas y Naturales</a> en la <a href="https://www.unrc.edu.ar/" target="_blank">Universidad Nacional de Río Cuarto</a>.</p>
            

		   <p>  </p><p>
            		  
            
		</div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
		  Contacto:<br />
		  Departamento de Computación<br />
		  <a href="https://www.exa.unrc.edu.ar/" target="_blank">Facultad de Ciencias Exactas, Físico-Químicas y Naturales</a><br />
		  <a href="https://www.unrc.edu.ar/" target="_blank">Universidad Nacional de Río Cuarto</a><br />
		  Ruta Nacional No. 36, Km. 601 <br />
		  Código Postal X5804BYA <br />
		  Río Cuarto, Córdoba, Argentina <br />
            (<a href="https://goo.gl/maps/sHnziH6tHMMYmUt3A" target="_blank">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
