<div id="footer">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy 2020 MFIS</p>
      <p>We are part of the <a href="https://dc.exa.unrc.edu.ar/" target="_blank">Computer Science Department</a> at the <a href="https://www.unrc.edu.ar/" target="_blank">University of Rio Cuarto</a>, Argentina.</p>
		   <p>  </p><p>
            		  
            
		</div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
		  Contact:<br />
		  Computer Science Department<br />
		  <a href="https://www.exa.unrc.edu.ar/" target="_blank">FCEFQyN</a><br />
		  <a href="https://www.unrc.edu.ar/" target="_blank">University of Rio Cuarto</a><br />
		  Ruta Nacional No. 36, Km. 601 <br />
		  Código Postal X5804BYA <br />
		  Río Cuarto, Córdoba, Argentina <br /> (<a href="https://goo.gl/maps/sHnziH6tHMMYmUt3A" target="_blank">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
