---
layout: default
---
<div id="extension" class="col-sm-12">
  {{ content }}
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<div class="card card-default">
				<div class="card-header">PICUco</div>
				<div class="card-img">
					<img src="{{ site.url }}{{ site.baseurl }}/images/picuco.jpg" class="img-responsive" width="100%">
				</div>
				<div class="card-body">
					<p>Enseñaza de Programación en contextos inclusivos</p>
					<p><a href="/extension/picuco">Más..</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
