---
layout: default
---
<div id="research" class="col-sm-12">
  {{ content }}
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<div class="card card-default">
				<div class="card-header">MFIS</div>
				<div class="card-img">
					<img src="{{ site.url }}{{ site.baseurl }}/images/groups/mfis.jpeg" class="img-responsive" width="100%" style="float: left;">
				</div>
				<div class="card-body">
					<p>Some text about MFIS work</p>
					<p><a href="#">Más..</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
